<html>
 <head>
  </head>
    <body>
        <ul>
        {{#heros}}
        <li>{{nom}}, {{description}}, se trouve dans l'équipe {{nomEquipe}}</li>
        {{/heros}}
        </ul>
    </body>
</html>